/* ------------------------------- Coloque sua estilização aqui ------------------------------- */
body > header {
    background-color: var(--grey-darkest);
    width: 100%;
    height: 110px;
    position: fixed;
    border-bottom: 3px solid var(--secondary-color);
}

body > header > p{
    position: relative;
    right: 70px;
}

body > header > button{
    position: relative;
    left: 100px;
}

#main__home-container {
    padding-top: 110px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-default);
}

#main__home-container > p{
    max-width: 40%;
    text-align: center;
}

#main__about-us-container {
    background-color: var(--grey-darkest);
    height: 290px;
}

#main__about-us-container > h2{
    min-width: 50%;
    padding-left: var(--padding-sides);
}

#main__about-us-container > span{
    padding-right: var(--padding-sides);
}

#main__question-container__left, #main__question-container__right {
    min-width: 50%;
    align-self: flex-start;
    padding-top: var(--paddig-vertical);
    padding-bottom: var(--paddig-vertical);
    display: flex;
    flex-direction: column;
    gap: var(--gap-default);
}

#main__question-container__left {
    padding-left: var(--padding-sides);
}

#main__question-container__left > p {
    max-width: 75%;
}

#main__question-container__left > span {
    width: fit-content;
}

#main__question-container__right {
    padding-right: var(--padding-sides);
}

#main__question-container__right >span:not(:first-child){
    margin-top: var(--gap-default);
}

#main__testimonials-container {
    padding: var(--paddig-vertical) var(--padding-sides);
}

#main__testimonials-container__left {
    min-width: 60%;
}

.student-testimonial__container > span{
    align-self: flex-start;
    width: 35%;
}

.student-testimonial__container > p{
    align-self: flex-start;
    width: 65%;
    margin-bottom: 100px;
    padding-right: 50px;
}

#main__testimonials-container__right {
    align-self: flex-start;
    background-color: var(--primary-color);
    padding: 80px 50px;
}

#footer__container {
    height: 120px;
    background-color: var(--grey-darkest);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}